<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">VIC BBQ Tracker</h5>
                <p class="grey-text text-lighten-4">Find and track BBQ locations across Victoria.</p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="#!">About</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">Contact</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">Privacy Policy</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © 2024 VIC BBQ Tracker
            <a class="grey-text text-lighten-4 right" href="#!">Terms of Use</a>
        </div>
    </div>
</footer>