<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>VIC BBQ Tracker</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" rel="stylesheet" />
    <link href="components/style.css" rel="stylesheet" />
</head>

<body>
    <nav>
        <div class="nav-wrapper">
            <a href="index.html" class="brand-logo left">VIC BBQ Tracker</a>
            <ul class="right">
                <li><a href="login.html" class="waves-effect waves-light btn">Login</a></li>
            </ul>
        </div>
    </nav>
</body>

</html>